name: Compile kernel

on:
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Get AOSP Clang
        run: |
          wget -q https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/mirror-goog-main-llvm-toolchain-source/clang-r574158.tar.gz
          mkdir aosp-clang
          tar -xzf clang-r574158.tar.gz -C aosp-clang

      - name: Compile kernel
        
        run: chmod +x /scripts/compile.sh ./scripts/compile.sh DEFCONFIG=guamp_defconfig CLANG_DIR=$PWD/aosp-clang KBUILD_BUILD_USER=Rve KBUILD_BUILD_HOST=RvEnterprises

      - name: Upload Image & DTBO
        uses: actions/upload-artifact@v4
        with:
          name: RvKernel-Alioth
          path: |
            out/arch/arm64/boot/Image
            out/arch/arm64/boot/dtb.img
            out/arch/arm64/boot/dtbo.img

      - name: Upload log
        uses: actions/upload-artifact@v4
        with:
          name: compile-log
          path: out/compile.log
          
